<template>
  <v-container class="fill-height">
    <v-row justify="center">
      <v-col md="12" sm="8">
        <v-card
          class="elevation-2 rounded-0 blue-grey lighten-5"
        >
          <v-container fluid>
            <v-row class="blue-grey lighten-4" align="center">
              <v-col cols="3">
                <v-btn x-large icon @click="redirectToHome" color="black">
                  <v-icon>mdi-home</v-icon>
                </v-btn>
              </v-col>
              <v-col cols="6">
                <div class="text-h5 text-center font-weight-bold">SETTINGS</div>
              </v-col>
            </v-row>
            <v-row justify="center" class="pa-12">
              <v-col cols="12" md="6">
                <v-form @submit.prevent="updateCount">
                  <v-card class="elevation-2 rounded-0 pa-6">
                    <v-card-text>
                      <v-text-field
                        v-model="count"
                        label="Count"
                        prepend-inner-icon="mdi-account"
                        required
                        outlined
                        hide-details
                        class="mb-6"
                      />
                    </v-card-text>
                    <v-card-actions>
                      <v-row>
                        <v-col cols="8">
                          <v-btn
                            color="primary"
                            elevation="2"
                            type="submit"
                            large
                          >
                            Reset
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-card-actions>
                  </v-card>
                </v-form>
              </v-col>
              <v-col cols="12" md="6">
                <v-form @submit.prevent="updateMaxOccupancy">
                  <v-card class="elevation-2 rounded-0 pa-6">
                    <v-card-text>
                      <v-text-field
                        v-model="maxOccupancy"
                        label="Maximum occupancy"
                        prepend-inner-icon="mdi-window-maximize"
                        required
                        outlined
                        hide-details
                        class="mb-6"
                      />
                    </v-card-text>
                    <v-card-actions>
                      <v-row>
                        <v-col cols="8">
                          <v-btn
                            color="primary"
                            elevation="2"
                            type="submit"
                            large
                          >
                            Reset
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-card-actions>
                  </v-card>
                </v-form>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { OccupancyService } from "@/service";
import { Component, Vue } from "vue-property-decorator";
import { BaseComponent } from "@/base/BaseComponent";
import firebase from "firebase";

@Component
export default class Settings extends BaseComponent {
  count: number = 0;
  maxOccupancy: number = 0;

  created() {
    this.count = this.$store.getters.count;
    this.maxOccupancy = this.$store.getters.maxOccupancy;

    firebase.auth().onAuthStateChanged((userAuth) => {
      if (userAuth) {
        firebase.auth().currentUser?.getIdTokenResult().then(result => {
          if(result.claims.role !== "admin")
            this.redirectToHome();
        })
      }
    });
  }

  public redirectToHome() {
    this.$router.push("/home");
  }

  updateMaxOccupancy() {
    const service = new OccupancyService();

    service.configure(this.maxOccupancy).then((response) => {
      this.$store.dispatch("getOccupancy");

      this.$router.push("/home");
    });
  }

  updateCount() {
    const service = new OccupancyService();

    service.updateCount(this.count, this.currentUser).then((response) => {
      this.$store.dispatch("getOccupancy");

      this.$router.push("/home");
    });
  }
}
</script>