.container {
    .v-card {
        &__title {
            color: white;

        }

        &__text {
            text-align: center;
            color: white;

            p {
                font-size: 5rem;
                letter-spacing: 8px;
                line-height: 1;
            }

            div,
            button {
                font-size: 1rem;
            }
        }
    }

    .back-btn {
        position: relative;
        overflow: hidden;
        box-shadow: none;

        .left--side__corner,
        .right--side__corner {
            position: absolute;
            background-color: white;
            height: 164px;
        }

        .left--side__corner {
            width: 261px;
            transform: rotate(140deg);
            left: -95px;
            bottom: 41px;
        }

        .right--side__corner {
            width: 238px;
            transform: rotate(-146deg);
            left: -82px;
            top: 69px;
        }
    }
}

.reader__home {
    min-height: 80vh;
    display: flex;

    p {
        font-size: 10rem !important;
    }

    .count__label {
        font-size: 1.5rem !important;
        line-height: 1.5rem;
        padding-bottom: 3rem;
    }

    .count__max {
        font-size: 2rem !important;
        line-height: 2rem;
    }

    @media only screen and (min-width: 768px) {
        p {
            font-size: 20rem !important;
        }

        .count__label {
            font-size: 3rem !important;
            line-height: 3rem;
            padding-bottom: 5rem;
        }

        .count__max {
            font-size: 4rem !important;
            line-height: 4rem;
        }
    }
}