.login-container {
    .v-card {
        &__title {
            justify-content: center;
            font-size: 1.4rem;
            color: #808080;
            font-weight: 600;
        }
        &__actions {
            justify-content: center;

            button {
                width: 100%;
            }
        }
    }
}