<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12">
        <v-card class="elevation-2 rounded-0" :class="color">
          <v-container fluid>
            <v-row class="darken-1" :class="color" align="center">
              <v-col cols="3">
                <v-btn x-large icon @click="redirectToHome" color="white">
                  <v-icon>mdi-home</v-icon>
                </v-btn>
              </v-col>
              <v-col cols="6">
                <div class="text-h4 text-center white--text font-weight-bold">
                  ENTRY
                </div>
              </v-col>
              <v-col cols="3" class="text-right">
                <v-btn x-large icon @click="toggle()" color="white">
                  <v-icon v-if="!details">mdi-format-list-numbered</v-icon>
                  <v-icon v-if="details">mdi-numeric</v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col>
                <div class="text-center white--text pa-2">
                  {{ currentUser }}
                </div>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col cols="12">
                <v-card-text :class="$vuetify.breakpoint.xlOnly ? 'pa-10' : 'pa-5'">
                  <p>{{ totalCounts }}</p>
                  <div>Total inside Temple</div>
                  <div>Max Allowed: {{ maxAllowed }}</div>
                  <v-btn
                    x-large
                    icon
                    @click="refresh()"
                    color="white"
                    class="mt-2"
                  >
                    <v-icon>mdi-refresh</v-icon>
                  </v-btn>
                </v-card-text>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="!details" justify="center" class="pt-4">
      <v-col md="3" sm="3" v-for="count in 8" :key="count">
        <v-btn
          class="display-1 white--text"
          :class="color"
          tile
          :height="$vuetify.breakpoint.mdAndUp ? '137px' : '77px'"
          width="100%"
          @click="addEntry(count)"
          :disabled="progress"
          >{{ count }}</v-btn
        >
      </v-col>
    </v-row>
    <v-row class="mt-4" v-if="details">
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          fixed-header
          disable-pagination
          :server-items-length="pageSize"
          hide-default-footer
          :items="logs"
          class="elevation-1"
          :loading="gridLoading"
        >
          <template v-slot:item.actions="{ item }">
            <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
          </template>
          <template v-slot:item.lastUpdated="{ item }">
            {{ item.lastUpdated | dateDisplay }}
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { EntryRequestModel, LogRequestModel, OccupancyLogModel } from "@/model";
import { OccupancyService } from "@/service";
import { Component, Vue } from "vue-property-decorator";
import { BaseComponent } from "@/base/BaseComponent";

@Component
export default class Entry extends BaseComponent {
  details: boolean = false;
  gridLoading: boolean = false;
  progress: boolean = false;

  pageSize: number = 100;

  public addEntry(count: number) {
    const service = new OccupancyService();

    const request = new EntryRequestModel();
    request.incrementBy = count;
    request.updatedBy = this.currentUser;

    this.progress = true;
    service.addEntry(request).then((response) => {
      this.$store.dispatch("getOccupancy");
      this.progress = false;
    });
  }

  public deleteItem(item: OccupancyLogModel) {
    this.confirm("Delete", `Are you sure you want to revert this entry?`).then(
      (confirm: any) => {
        if (confirm) {
          const service = new OccupancyService();

          service.deleteItem(item.id).then(() => {
            this.$store.dispatch("getOccupancy");

            this.details = false;
          });
        }
      }
    );
  }

  refresh() {
    super.refresh();

    if (this.details)
      this.getLogs();
  }

  get totalCounts() {
    return this.$store.getters.count;
  }

  get maxAllowed() {
    return this.$store.getters.maxOccupancy;
  }

  public redirectToHome() {
    this.$router.push("/home");
  }

  logs: Array<OccupancyLogModel> = [];
  toggle() {
    this.details = !this.details;

    if (this.details) {
      this.getLogs();
    }
  }

  getLogs() {
    const service = new OccupancyService();

      this.logs = [];
      this.gridLoading = true;
      service.getLogs(new LogRequestModel(), 1).then((data) => {
        this.logs = data.filter((d) => d.change > 0);
        this.gridLoading = false;
      });
  }

  headers: any = [
    {
      text: "Time",
      align: "start",
      sortable: false,
      value: "lastUpdated",
    },
    { text: "Entered By", value: "updatedBy", sortable: false },
    { text: "Count", value: "change", sortable: false },
    { text: "", value: "actions", sortable: false },
  ];

  get color() {
    if (this.totalCounts > 0) {
      if (this.totalCounts >= this.maxAllowed) return "red";

      if (this.totalCounts >= this.maxAllowed * 0.8) return "orange";
    }

    return "green";
  }
}
</script>