<template>
  <v-container>
    <v-row justify="center">
      <v-col md="12" sm="8">
        <v-card class="elevation-2 rounded-0" :class="color">
          <v-container fluid :class="{ reader__home : isReader }">
            <v-row class="darken-1" :class="color" align="center" v-if="!isReader">
              <v-col cols="3">
                <v-btn
                  x-large
                  icon
                  @click="users()"
                  color="white"
                  v-if="isAdmin"
                >
                  <v-icon>mdi-account</v-icon>
                </v-btn>
              </v-col>
              <v-col cols="6">
                <div class="text-h4 text-center white--text font-weight-bold">
                  HOME
                </div>
              </v-col>
              <v-col cols="3" class="text-right">
                <v-btn
                  x-large
                  icon
                  @click="settings()"
                  color="white"
                  v-if="isAdmin"
                >
                  <v-icon>mdi-cog</v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <v-row align="center" justify="center" v-if="!isReader">
              <v-col>
                <div class="text-center white--text pa-2">
                  {{ currentUser }}
                </div>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col>
                <v-card-text
                  :class="$vuetify.breakpoint.xlOnly ? 'pa-12' : 'pa-6'"
                >
                  <p>{{ totalCounts }}</p>
                  <div class="count__label">people inside Temple</div>
                  <div class="count__max">Max Allowed: {{ maxAllowed }}</div>
                  <v-btn
                    x-large
                    icon
                    @click="refresh()"
                    color="white"
                    class="mt-2"
                     v-if="!isReader"
                  >
                    <v-icon>mdi-refresh</v-icon>
                  </v-btn>
                </v-card-text>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center" class="pt-4" v-if="!isReader">
      <v-col md="6" sm="4">
        <v-btn
          class="rounded-0 display-1 white--text elevation-20"
          color="green darken-4"
          height="200px"
          width="100%"
          @click="redirectEntryExitPage('entry')"
          >Entry</v-btn
        >
      </v-col>
      <v-col md="6" sm="4">
        <v-btn
          class="rounded-0 display-1 white--text elevation-20"
          color="blue darken-4"
          height="200px"
          width="100%"
          @click="redirectEntryExitPage('exit')"
          >Exit</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts">
import { OccupancyService } from "@/service";
import { Component, Vue } from "vue-property-decorator";
import { BaseComponent } from "@/base/BaseComponent";
import firebase from "firebase";

@Component
export default class Home extends BaseComponent {
  isAdmin: boolean = false;
  isReader: boolean = false;

  created() {
    firebase.auth().onAuthStateChanged((userAuth) => {
      if (userAuth) {
        firebase
          .auth()
          .currentUser?.getIdTokenResult()
          .then((result) => {
            console.log(result.claims);
            this.isAdmin = result.claims.role == "admin";
            this.isReader = result.claims.role == "reader";
          });
      }
    });
  }

  redirectEntryExitPage(pageType: string) {
    this.$router.push("/" + pageType);
  }

  settings() {
    this.$router.push("/settings");
  }

  users() {
    this.$router.push("/users");
  }

  get totalCounts() {
    return this.$store.getters.count;
  }

  get maxAllowed() {
    return this.$store.getters.maxOccupancy;
  }

  get color() {
    if (this.totalCounts > 0) {
      if (this.totalCounts >= this.maxAllowed) return "red";

      if (this.totalCounts >= this.maxAllowed * 0.8) return "orange";
    }

    return "green";
  }

}
</script>