<template>
  <v-app>
    <v-app-bar app clipped-left>
      <v-toolbar-title @click="$router.push('/home')">OCCUPANCY TRACKER</v-toolbar-title>
      <v-toolbar-title class="mx-4">|</v-toolbar-title>
      <v-toolbar-title class="overline"
        ><span v-if="$vuetify.breakpoint.smAndUp">Powered by </span
        ><a href="https://www.yectra.com" target="_blank"
          >Yectra</a
        ></v-toolbar-title
      >
      <v-spacer></v-spacer>

      <v-btn icon @click="logout" v-if="currentUser">
        <v-icon>mdi-export</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <div class="d-flex align-center" style="height:100%">
        <router-view />
        <app-confirm ref="confirm"></app-confirm>
      </div>
    </v-main>
    <v-bottom-navigation height="36">
      <span class="ma-2 grey--text lighten-5--text caption"
        >Powered by
        <a href="https://www.yectra.com" target="_blank">Yectra</a></span
      >
    </v-bottom-navigation>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import firebase from "firebase";
import moment from "moment";
import axios from "axios";
import { BaseComponent } from "@/base/BaseComponent";
import AppConfirm from "@/base/AppConfirm.vue";

@Component({
  components: { AppConfirm },
})
export default class App extends BaseComponent {
  polling: any = null;

  created() {
    axios.defaults.headers.common["APIKey"] = `PKaRSChfdz`;

    this.createFilters();
    this.$store.dispatch("getOccupancy");

    this.polling = setInterval(() => {
      this.$store.dispatch("getOccupancy");
    }, 3000);
  }

  mounted() {
    const root: any = this.$root;
    const confirm: AppConfirm = this.$refs.confirm as AppConfirm;

    root.$confirm = confirm.show;
  }

  beforeDestroy() {
    clearInterval(this.polling);
  }

  logout() {
    firebase
      .auth()
      .signOut()
      .then(() => {
        this.$router.replace("login");
      });
  }

  createFilters() {
    Vue.filter("errorMessages", (value: any, name: string) => {
      return this.$vuehelper.val.messages(value, name);
    });

    Vue.filter("dateDisplay", (value: any) => {
      if (!value) return "";

      const date = moment.utc(value);
      const localDate = moment(date).local();

      return localDate.format("DD/MM/YYYY HH:mm A");
    });
  }
}
</script>