<template>
  <v-container class="fill-height login-container" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" md="6" lg="4">
        <v-card class="elevation-12 pa-4">
          <v-card-text>
            <v-alert dense type="error" v-if="accessDenied" class="text-left"
              >Access denied for this user</v-alert
            >
            <v-btn class="ma-2" outlined color="#4285f4" @click="googleLogin">
              <v-icon class="mr-4">mdi-google</v-icon>
              Sign in with Google
            </v-btn>
          </v-card-text>
          <v-divider class="mx-5 my-10"></v-divider>
          <v-form @submit.prevent="login">
            <v-card-text>
              <v-alert
                dense
                type="error"
                v-if="errorMessage"
                class="text-left"
                >{{ errorMessage }}</v-alert
              >
              <v-text-field
                v-model="email"
                label="Email"
                name="email"
                prepend-inner-icon="mdi-account"
                required
                hide-details
                :error-messages="$v.email | errorMessages('E-mail')"
                class="mb-6"
              />
              <v-text-field
                v-model="password"
                label="Password"
                name="password"
                prepend-inner-icon="mdi-lock"
                required
                hide-details
                :error-messages="$v.password | errorMessages('Password')"
                :type="showPassword ? 'text' : 'password'"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword = !showPassword"
                class="mb-6"
              />
            </v-card-text>
            <v-card-actions>
              <v-row align="center" justify="center">
                <v-col cols="8">
                  <v-btn color="primary" elevation="2" type="submit" large>
                    Login
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import firebase from "firebase";

@Component({
  mixins: [validationMixin],
  validations: {
    email: { required },
    password: { required },
  },
})
export default class Login extends Vue {
  public email: string = "";
  public password: string = "";
  public showPassword: boolean = false;
  public errorMessage: string = "";
  public accessDenied: boolean = false;  

  login() {
    this.errorMessage = "";
    this.accessDenied = false;

    this.$v.$touch();
    if (!this.$v.$invalid) {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then((result) => {
          this.afterLogin(this.email);
        })
        .catch((err) => {
          this.errorMessage = err.message;
        });
    } else {
      this.errorMessage = "Please enter valid credentials";
    }
  }

  afterLogin(email: string) {
    const db = firebase.firestore();
    const usersCollection = db.collection("users");

    usersCollection
      .doc(email.toLowerCase())
      .get()
      .then((v) => {
        if (v.exists) this.$router.push("/home");
        else {
          firebase
            .auth()
            .signOut()
            .then(() => {
              this.accessDenied = true;
            });
        }
      });
  }

  googleLogin() {
    this.accessDenied = false;
    this.errorMessage = "";

    const provider = new firebase.auth.GoogleAuthProvider();

    firebase
      .auth()
      .signInWithPopup(provider)
      .then((result) => {
        let email: any = "";
        if (result && result.user) email = result.user.email?.toString();

        this.afterLogin(email);
      })
      .catch((err) => {
        console.log(err);
      });
  }
}
</script>