<template>
  <v-container>
    <v-row justify="center">
      <v-col md="12" sm="8">
        <v-card class="elevation-2 rounded-0 blue-grey lighten-5">
          <v-container fluid>
            <v-row class="blue-grey lighten-4" align="center">
              <v-col cols="3">
                <v-btn x-large icon @click="redirectToHome" color="black">
                  <v-icon>mdi-home</v-icon>
                </v-btn>
              </v-col>
              <v-col cols="6">
                <div class="text-h5 text-center font-weight-bold">USERS</div>
              </v-col>
            </v-row>
            <v-row justify="center" class="px-2 py-12">
              <v-data-table
                :headers="headers"
                fixed-header
                disable-pagination
                :server-items-length="pageSize"
                hide-default-footer
                :items="users"
                class="elevation-1"
                style="width: 100%"
              >
                <template v-slot:top>
                  <v-toolbar flat>
                    <v-dialog v-model="dialog" max-width="500px">
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          color="primary"
                          dark
                          class="mb-2"
                          v-bind="attrs"
                          v-on="on"
                        >
                          New User
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-title>
                          <span class="headline">Manage User</span>
                        </v-card-title>

                        <v-card-text>
                          <v-container>
                            <v-text-field
                              v-model="editedItem.email"
                              label="Email"
                              hide-details
                              :error-messages="
                                $v.editedItem.email | errorMessages('E-mail')
                              "
                              required
                              class="mb-6"
                            ></v-text-field>
                            <v-select
                              :items="roles"
                              v-model="editedItem.role"
                              label="Role"
                              hide-details
                              :error-messages="$v.editedItem.role | errorMessages('Role')"
                              required
                              class="mb-6"
                              :disabled="editedItem.id != null"
                            ></v-select>
                          </v-container>
                        </v-card-text>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" text @click="close">
                            Cancel
                          </v-btn>
                          <v-btn color="blue darken-1" text @click="save">
                            Save
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-icon small @click="editItem(item)" class="mr-2">
                    mdi-pencil
                  </v-icon>
                  <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
                </template>
              </v-data-table>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { BaseComponent } from "@/base/BaseComponent";
import firebase from "firebase";
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";

@Component({
  mixins: [validationMixin],
  validations: {
    editedItem: {
      email: { required, email },
      role: { required },
    },
  },
})
export default class Users extends BaseComponent {
  headers: any = [
    {
      text: "Email",
      align: "start",
      sortable: false,
      value: "email",
    },
    { text: "Role", value: "role", sortable: false },
    { text: "", value: "actions", sortable: false },
  ];

  roles: any = ["admin", "user"];

  pageSize: number = 100;
  dialog: boolean = false;
  editedItem: any = {};

  users: Array<any> = [];

  created() {
    this.loadUsers();

    firebase.auth().onAuthStateChanged((userAuth) => {
      if (userAuth) {
        firebase.auth().currentUser?.getIdTokenResult().then(result => {
          if(result.claims.role !== "admin")
            this.redirectToHome();
        })
      }
    });
  }

  close() {
    this.dialog = false;

    this.editedItem = {};
  }

  editItem(item: any) {
    this.editedItem = {};
    this.editedItem.id = item.id;
    this.editedItem.email = item.email;
    this.editedItem.role = item.role;

    this.dialog = true;
  }

  deleteItem(item: any) {
    this.confirm(
      "Delete",
      `Are you sure you want to remove '${item.email}'?`
    ).then((confirm: any) => {
      if (confirm) {
        firebase
          .firestore()
          .collection("users")
          .doc(item.email)
          .delete()
          .then(() => {
            this.loadUsers();
          });
      }
    });
  }

  save() {
    this.$v.$touch();
    if (!this.$v.$invalid) {
      firebase
        .firestore()
        .collection("users")
        .doc(this.editedItem.email.toLowerCase())
        .set({ Role: this.editedItem.role })
        .then(() => {
          this.loadUsers();

          this.close();
        });
    }
  }

  loadUsers() {
    this.users = [];
    firebase
      .firestore()
      .collection("users")
      .get()
      .then((snap) => {
        snap.forEach((doc) => {
          const user = doc.data();
          user.id = doc.id;
          user.email = doc.id;
          user.role = doc.data().Role;

          this.users.push(user);
        });
      });
  }

  redirectToHome() {
    this.$router.push("/home");
  }
}
</script>